In [1]:
import pandas as pd

census_tracts = pd.read_csv("csv/Census_Tracts_in_2020.csv")
census_tracts.head()

,OBJECTID,TRACT,GEOID,P0010001,P0010002,P0010003,P0010004,P0010005,P0010006,P0010007,...,P0050003,P0050004,P0050005,P0050006,P0050007,P0050008,P0050009,P0050010,SHAPEAREA,SHAPELEN
0,1,2002,11001002002,4072,3647,1116,1751,27,84,0,...,0,0,0,0,32,0,0,32,0,0
1,2,2101,11001002101,5687,5071,1037,2642,86,120,1,...,0,0,0,0,31,0,0,31,0,0
2,3,2102,11001002102,5099,4599,901,2910,50,87,0,...,0,0,0,0,145,0,0,145,0,0
3,4,2201,11001002201,3485,3138,973,1722,21,94,2,...,0,6,0,0,0,0,0,0,0,0
4,5,2202,11001002202,3339,2957,619,1636,48,57,3,...,0,0,0,0,4,0,0,4,0,0

In [2]:
total_pop = census_tracts["P0010001"].sum()
print("Total pop: ", total_pop)

Total pop:  689545

In [4]:
census_tracts["pop_percent"] = census_tracts["P0010001"] / total_pop
census_tracts.head()

,OBJECTID,TRACT,GEOID,P0010001,P0010002,P0010003,P0010004,P0010005,P0010006,P0010007,...,P0050004,P0050005,P0050006,P0050007,P0050008,P0050009,P0050010,SHAPEAREA,SHAPELEN,pop_percent
0,1,2002,11001002002,4072,3647,1116,1751,27,84,0,...,0,0,0,32,0,0,32,0,0,0.005905
1,2,2101,11001002101,5687,5071,1037,2642,86,120,1,...,0,0,0,31,0,0,31,0,0,0.008247
2,3,2102,11001002102,5099,4599,901,2910,50,87,0,...,0,0,0,145,0,0,145,0,0,0.007395
3,4,2201,11001002201,3485,3138,973,1722,21,94,2,...,6,0,0,0,0,0,0,0,0,0.005054
4,5,2202,11001002202,3339,2957,619,1636,48,57,3,...,0,0,0,4,0,0,4,0,0,0.004842

In [5]:
# Get list of all columns
cols = census_tracts.columns.tolist()

# Remove pop_percent from its current position
cols.remove('pop_percent')

# Find the index of GEOID and insert pop_percent after it
geoid_index = cols.index('GEOID')
cols.insert(geoid_index + 1, 'pop_percent')

# Reorder the DataFrame columns
census_tracts = census_tracts.reindex(columns=cols)

In [6]:
census_tracts.head()

,OBJECTID,TRACT,GEOID,pop_percent,P0010001,P0010002,P0010003,P0010004,P0010005,P0010006,...,P0050003,P0050004,P0050005,P0050006,P0050007,P0050008,P0050009,P0050010,SHAPEAREA,SHAPELEN
0,1,2002,11001002002,0.005905,4072,3647,1116,1751,27,84,...,0,0,0,0,32,0,0,32,0,0
1,2,2101,11001002101,0.008247,5687,5071,1037,2642,86,120,...,0,0,0,0,31,0,0,31,0,0
2,3,2102,11001002102,0.007395,5099,4599,901,2910,50,87,...,0,0,0,0,145,0,0,145,0,0
3,4,2201,11001002201,0.005054,3485,3138,973,1722,21,94,...,0,6,0,0,0,0,0,0,0,0
4,5,2202,11001002202,0.004842,3339,2957,619,1636,48,57,...,0,0,0,0,4,0,0,4,0,0

In [7]:
census_tracts = census_tracts.rename(columns={'P0010001': 'total_pop'})
census_tracts.head()

,OBJECTID,TRACT,GEOID,pop_percent,total_pop,P0010002,P0010003,P0010004,P0010005,P0010006,...,P0050003,P0050004,P0050005,P0050006,P0050007,P0050008,P0050009,P0050010,SHAPEAREA,SHAPELEN
0,1,2002,11001002002,0.005905,4072,3647,1116,1751,27,84,...,0,0,0,0,32,0,0,32,0,0
1,2,2101,11001002101,0.008247,5687,5071,1037,2642,86,120,...,0,0,0,0,31,0,0,31,0,0
2,3,2102,11001002102,0.007395,5099,4599,901,2910,50,87,...,0,0,0,0,145,0,0,145,0,0
3,4,2201,11001002201,0.005054,3485,3138,973,1722,21,94,...,0,6,0,0,0,0,0,0,0,0
4,5,2202,11001002202,0.004842,3339,2957,619,1636,48,57,...,0,0,0,0,4,0,0,4,0,0

In [8]:
census_tracts.drop(["P0010002"], axis=1, inplace=True)

census_tracts = census_tracts.rename(columns={
    'P0010003': 'white',
    'P0010004': 'black',
    'P0010005': 'american_indian',
    'P0010006': 'asian',
    'P0010007': 'pacific_islander',
    'P0010008': 'other',
    'P0020002': 'hispanic'
})

census_tracts.head()

,OBJECTID,TRACT,GEOID,pop_percent,total_pop,white,black,american_indian,asian,pacific_islander,...,P0050003,P0050004,P0050005,P0050006,P0050007,P0050008,P0050009,P0050010,SHAPEAREA,SHAPELEN
0,1,2002,11001002002,0.005905,4072,1116,1751,27,84,0,...,0,0,0,0,32,0,0,32,0,0
1,2,2101,11001002101,0.008247,5687,1037,2642,86,120,1,...,0,0,0,0,31,0,0,31,0,0
2,3,2102,11001002102,0.007395,5099,901,2910,50,87,0,...,0,0,0,0,145,0,0,145,0,0
3,4,2201,11001002201,0.005054,3485,973,1722,21,94,2,...,0,6,0,0,0,0,0,0,0,0
4,5,2202,11001002202,0.004842,3339,619,1636,48,57,3,...,0,0,0,0,4,0,0,4,0,0

In [9]:
print(list(census_tracts.columns))

['OBJECTID', 'TRACT', 'GEOID', 'pop_percent', 'total_pop', 'white', 'black', 'american_indian', 'asian', 'pacific_islander', 'other', 'hispanic', 'P0020005', 'P0020006', 'P0020007', 'P0020008', 'P0020009', 'P0020010', 'P0030001', 'P0030003', 'P0030004', 'P0030005', 'P0030006', 'P0030007', 'P0030008', 'P0040002', 'P0040005', 'P0040006', 'P0040007', 'P0040008', 'P0040009', 'P0040010', 'H0010001', 'H0010002', 'H0010003', 'ALAND', 'AWATER', 'STUSAB', 'SUMLEV', 'GEOCODE', 'STATE', 'NAME', 'POP100', 'HU100', 'P0010009', 'P0010010', 'P0010011', 'P0010012', 'P0010013', 'P0010014', 'P0010015', 'P0010016', 'P0010017', 'P0010018', 'P0010019', 'P0010020', 'P0010021', 'P0010022', 'P0010023', 'P0010024', 'P0010025', 'P0010026', 'P0010027', 'P0010028', 'P0010029', 'P0010030', 'P0010031', 'P0010032', 'P0010033', 'P0010034', 'P0010035', 'P0010036', 'P0010037', 'P0010038', 'P0010039', 'P0010040', 'P0010041', 'P0010042', 'P0010043', 'P0010044', 'P0010045', 'P0010046', 'P0010047', 'P0010048', 'P0010049', 'P0010050', 'P0010051', 'P0010052', 'P0010053', 'P0010054', 'P0010055', 'P0010056', 'P0010057', 'P0010058', 'P0010059', 'P0010060', 'P0010061', 'P0010062', 'P0010063', 'P0010064', 'P0010065', 'P0010066', 'P0010067', 'P0010068', 'P0010069', 'P0010070', 'P0010071', 'P0020001', 'P0020003', 'P0020004', 'P0020011', 'P0020012', 'P0020013', 'P0020014', 'P0020015', 'P0020016', 'P0020017', 'P0020018', 'P0020019', 'P0020020', 'P0020021', 'P0020022', 'P0020023', 'P0020024', 'P0020025', 'P0020026', 'P0020027', 'P0020028', 'P0020029', 'P0020030', 'P0020031', 'P0020032', 'P0020033', 'P0020034', 'P0020035', 'P0020036', 'P0020037', 'P0020038', 'P0020039', 'P0020040', 'P0020041', 'P0020042', 'P0020043', 'P0020044', 'P0020045', 'P0020046', 'P0020047', 'P0020048', 'P0020049', 'P0020050', 'P0020051', 'P0020052', 'P0020053', 'P0020054', 'P0020055', 'P0020056', 'P0020057', 'P0020058', 'P0020059', 'P0020060', 'P0020061', 'P0020062', 'P0020063', 'P0020064', 'P0020065', 'P0020066', 'P0020067', 'P0020068', 'P0020069', 'P0020070', 'P0020071', 'P0020072', 'P0020073', 'P0030002', 'P0030009', 'P0030010', 'P0030011', 'P0030012', 'P0030013', 'P0030014', 'P0030015', 'P0030016', 'P0030017', 'P0030018', 'P0030019', 'P0030020', 'P0030021', 'P0030022', 'P0030023', 'P0030024', 'P0030025', 'P0030026', 'P0030027', 'P0030028', 'P0030029', 'P0030030', 'P0030031', 'P0030032', 'P0030033', 'P0030034', 'P0030035', 'P0030036', 'P0030037', 'P0030038', 'P0030039', 'P0030040', 'P0030041', 'P0030042', 'P0030043', 'P0030044', 'P0030045', 'P0030046', 'P0030047', 'P0030048', 'P0030049', 'P0030050', 'P0030051', 'P0030052', 'P0030053', 'P0030054', 'P0030055', 'P0030056', 'P0030057', 'P0030058', 'P0030059', 'P0030060', 'P0030061', 'P0030062', 'P0030063', 'P0030064', 'P0030065', 'P0030066', 'P0030067', 'P0030068', 'P0030069', 'P0030070', 'P0030071', 'P0040001', 'P0040003', 'P0040004', 'P0040011', 'P0040012', 'P0040013', 'P0040014', 'P0040015', 'P0040016', 'P0040017', 'P0040018', 'P0040019', 'P0040020', 'P0040021', 'P0040022', 'P0040023', 'P0040024', 'P0040025', 'P0040026', 'P0040027', 'P0040028', 'P0040029', 'P0040030', 'P0040031', 'P0040032', 'P0040033', 'P0040034', 'P0040035', 'P0040036', 'P0040037', 'P0040038', 'P0040039', 'P0040040', 'P0040041', 'P0040042', 'P0040043', 'P0040044', 'P0040045', 'P0040046', 'P0040047', 'P0040048', 'P0040049', 'P0040050', 'P0040051', 'P0040052', 'P0040053', 'P0040054', 'P0040055', 'P0040056', 'P0040057', 'P0040058', 'P0040059', 'P0040060', 'P0040061', 'P0040062', 'P0040063', 'P0040064', 'P0040065', 'P0040066', 'P0040067', 'P0040068', 'P0040069', 'P0040070', 'P0040071', 'P0040072', 'P0040073', 'P0050001', 'P0050002', 'P0050003', 'P0050004', 'P0050005', 'P0050006', 'P0050007', 'P0050008', 'P0050009', 'P0050010', 'SHAPEAREA', 'SHAPELEN']

In [10]:
cols_to_drop = [col for col in census_tracts.columns if col.startswith('P00')]
census_tracts = census_tracts.drop(columns=cols_to_drop)
print(list(census_tracts.columns))

['OBJECTID', 'TRACT', 'GEOID', 'pop_percent', 'total_pop', 'white', 'black', 'american_indian', 'asian', 'pacific_islander', 'other', 'hispanic', 'H0010001', 'H0010002', 'H0010003', 'ALAND', 'AWATER', 'STUSAB', 'SUMLEV', 'GEOCODE', 'STATE', 'NAME', 'POP100', 'HU100', 'SHAPEAREA', 'SHAPELEN']

In [11]:
census_tracts.drop(["H0010001", "H0010002", "H0010003", "POP100", "HU100"], axis=1, inplace=True)
census_tracts.head()

,OBJECTID,TRACT,GEOID,pop_percent,total_pop,white,black,american_indian,asian,pacific_islander,...,hispanic,ALAND,AWATER,STUSAB,SUMLEV,GEOCODE,STATE,NAME,SHAPEAREA,SHAPELEN
0,1,2002,11001002002,0.005905,4072,1116,1751,27,84,0,...,1022,849376,0,DC,140,11001002002,11,Census Tract 20.02,0,0
1,2,2101,11001002101,0.008247,5687,1037,2642,86,120,1,...,1868,600992,0,DC,140,11001002101,11,Census Tract 21.01,0,0
2,3,2102,11001002102,0.007395,5099,901,2910,50,87,0,...,1074,725975,0,DC,140,11001002102,11,Census Tract 21.02,0,0
3,4,2201,11001002201,0.005054,3485,973,1722,21,94,2,...,683,415173,0,DC,140,11001002201,11,Census Tract 22.01,0,0
4,5,2202,11001002202,0.004842,3339,619,1636,48,57,3,...,1003,698895,566,DC,140,11001002202,11,Census Tract 22.02,0,0

In [12]:
print(list(census_tracts.columns))

['OBJECTID', 'TRACT', 'GEOID', 'pop_percent', 'total_pop', 'white', 'black', 'american_indian', 'asian', 'pacific_islander', 'other', 'hispanic', 'ALAND', 'AWATER', 'STUSAB', 'SUMLEV', 'GEOCODE', 'STATE', 'NAME', 'SHAPEAREA', 'SHAPELEN']

In [13]:
census_tracts["white_percent"] = census_tracts["white"] / census_tracts["total_pop"]
census_tracts["black_percent"] = census_tracts["black"] / census_tracts["total_pop"]
census_tracts["hispanic_percent"] = census_tracts["hispanic"] / census_tracts["total_pop"]
census_tracts["asian_percent"] = census_tracts["asian"] / census_tracts["total_pop"]
census_tracts["other_percent"] = census_tracts["other"] / census_tracts["total_pop"]
census_tracts["american_indian_percent"] = census_tracts["american_indian"] / census_tracts["total_pop"]
census_tracts["pacific_islander_percent"] = census_tracts["pacific_islander"] / census_tracts["total_pop"]
census_tracts.head()

,OBJECTID,TRACT,GEOID,pop_percent,total_pop,white,black,american_indian,asian,pacific_islander,...,NAME,SHAPEAREA,SHAPELEN,white_percent,black_percent,hispanic_percent,asian_percent,other_percent,american_indian_percent,pacific_islander_percent
0,1,2002,11001002002,0.005905,4072,1116,1751,27,84,0,...,Census Tract 20.02,0,0,0.274067,0.430010,0.250982,0.020629,0.164293,0.006631,0.000000
1,2,2101,11001002101,0.008247,5687,1037,2642,86,120,1,...,Census Tract 21.01,0,0,0.182346,0.464568,0.328468,0.021101,0.208370,0.015122,0.000176
2,3,2102,11001002102,0.007395,5099,901,2910,50,87,0,...,Census Tract 21.02,0,0,0.176701,0.570700,0.210630,0.017062,0.127672,0.009806,0.000000
3,4,2201,11001002201,0.005054,3485,973,1722,21,94,2,...,Census Tract 22.01,0,0,0.279197,0.494118,0.195983,0.026973,0.093544,0.006026,0.000574
4,5,2202,11001002202,0.004842,3339,619,1636,48,57,3,...,Census Tract 22.02,0,0,0.185385,0.489967,0.300389,0.017071,0.177898,0.014376,0.000898

In [15]:
# Export to CSV in the public/data folder
census_tracts.to_csv('../public/data/cleaned_census_tracts.csv', index=False)